[user]
    email = ygnmhdtt@gmail.com
    name = Hidetatsu Yaginuma

[url "github.com:"]
    InsteadOf = https://github.com/
    InsteadOf = git@github.com:

[pager]
    branch = false

[ghq]
    root = ~/.ghq/src

[core]
    pager = LESSCHARSET=utf-8 less
